<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Parallel Test Suite" verbose="2" parallel="classes" thread-count="5">
    <test name="Login Page Test" >
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->